*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(230,173,28,1) 0%, rgba(247,209,10,0.7455357142857143) 37%, rgba(39,212,216,0.8155637254901961) 91%, rgba(0,212,255,1) 100%);
}
.container{
   width: 100%;
   height: 100%;
}
.card{
/*     
    background: rgba(0, 255, 225, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px); */
    max-width: 400px;
    margin: auto;
    margin-block: 10%;
    padding: 20px;
    border-radius: 25px;
    background-color: aquamarine;

    /* background: rgba( 0, 149, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11.5px );
-webkit-backdrop-filter: blur( 11.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.button{
    text-align: center;
    margin-top: 10px;
}
.btncls{
    width: 100%;
    padding: 50px;
}
.heading{
    text-align: center;

}
img{
    width: 170px;
}
